<template name='maintenance'>
  <main>
    <img class="top-img" src='/images/maintain_1.svg' />
    <img class="bottom-img" src='/images/maintain_2.svg' />
  </main>

  <style>
    main {
      width: 100%;
      text-align: center;
      background-color: #243540;
    }

    img {
      width: 86%;
      margin-left: 7%;
      margin-right: 7%;
    }

    .top-img {
      max-width: 800px;
      margin-top: 8%;
    }

    .bottom-img {
      max-width: 1000px;
      margin-top: 25px;
    }

    @media all and (max-width: 600px)  {
      .top-img {
        margin-top: 30%;
      }
    }

    @media all and (max-width: 800px)  {
      .top-img {
        margin-top: 20%;
      }
    }

    @media all and (max-width: 1000px)  {
      .top-img {
        margin-top: 15%;
      }
    }
  </style>
</template>