<template name='usersPane'>
  <div class='users-pane'>
    <h1>Contributors <span>({{ contributors.length }})</span></h1>
    <div class='sort-bar'>
      <label>Sort By</label>
      <select class='form-control'>
        <option value='' selected>Karma</option>
        <option value='username'>Username</option>
        <option value='isOutput'>Output</option>
        <option value='isAdmin'>Admin</option>
        <option value='isBanned'>Banned</option>
      </select>
    </div>

    <div class='user-holder'>
      {{#each contributors }}
        {{> cloudUser }}
      {{/each}}
    </div>
  </div>
</template>