.account {

  h2 > span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
  }

  .row {
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid $third-color;

    div:nth-child(2) {
      padding-left: 55px;
    }
  }

  h3 {
    font-size: 22px;
  }

  p {
    color: $third-color;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .logout {
    margin: 30px auto 0 auto;
    text-align: auto;
    width: 100%;

    button {
      font-weight: bold;
      width: 100%;
      background-color: $third-color;
      padding: 20px;
      font-size: 22px;
      box-sizing: border-box;
      outline: none;
      border: none;
      border-radius: 3px;
      transition: background-color ease 0.3s;
      box-shadow: 1px 1px 2px darken($third-color, 8%);

      &:hover {
        background-color: darken($third-color, 5%);
      }
    }
  }
}