.current-playlist {

  .row {
    margin: 0;
    margin-bottom: 15px;

    div:nth-child(2) {
      padding-left: 90px;
    }
  }

  .invite-url {
    margin-bottom: 50px;

    h3 {
      margin-bottom: 10px;
    }

    button, span {
      color: black;
      font-weight: bold;
      padding: 10px;
      display: inline-block;
      float: left;
    }

    button {
      border-radius: 5px 0 0 5px;
      background-color: #ccc;
      outline: none;
      border: none;
      border-right: 1px #bbb solid;
    }

    span {
      border-radius: 0 5px 5px 0;
      background-color: #ddd;
      width: 272px;
      overflow-x: auto;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }

  input {
    cursor: text !important;
  }

  p {
    color: $third-color;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}