.display-name {

  .display-name-holder {
    position: relative;

    i, input {
      transition: all ease 0.3s;
      display: inline-block;
      text-align: center;
    }
  
    i {
      background-color: $secondary-color;
      padding: 22px 0;
      width: 60px;
      font-size: 26px;
      color: lighten($primary-color, 5%);
      border-radius: 5px 0 0 5px;
      float: left;

      &::before {
        content: '\f023';
      }
    }

    input {
      cursor: pointer;
      width: 280px;
      outline: none;
      border: none;
      border-radius: 0 5px 5px 0;
      padding: 25px;
      padding-right: 50px;
      font-size: 20px;
      font-weight: bold;
      background-color: $third-color;
      box-shadow: inset 2px 2px 3px darken($secondary-color, 8%);
    }

    &::after {
      color: darkgreen;
      font-size: 25px;
      content: '\f058';
      position: absolute;
      top: 58px;
      right: 55px;
      opacity: 0;
      text-shadow: 1px 1px 3px darken($third-color, 3%);
      transition: opacity ease 0.3s;
    }

    &.saving::after {
      opacity: 1;
    }

    &.editing {

      i {
        color: white;

        &::before {
          content: '\f09c';
        }
      }

      input {
        background-color: #ddd;
        color: black;
        cursor: text;
      }
    }

    &.invalid {

      i {
        color: darkred;

        &::before {
          content: '\f057';
        }
      }

      input {
        background-color: darkred;
        color: white;
        cursor: text;
      }
    }
  }
}