.login {
  & > div {
    text-align: center;

    i {
      font-size: 125px;
      color: $third-color;
      transition: color ease 0.3s;
      cursor: pointer;
      margin: 0 30px;

      &:hover {
        color: darken($third-color, 5%);
      }
    }

    p {
      font-size: 20px;
      padding: 10px 0;
      width: 275px;
      margin: 20px auto;
      color: lighten($primary-color, 7%);
      background-color: $third-color;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}