.menu-pane {
  display: none;
  width: $pane-width;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  color: white;

  h1 {
    text-shadow: 2px 2px 3px black;
    background: #243441; /* Old browsers */
    background: linear-gradient(to bottom,  #243441 0%,#1d2a34 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243441', endColorstr='#1d2a34',GradientType=0 ); /* IE6-9 */

    a {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      text-decoration: none;
      color: white;
      display: inline-block;
    }
  }

  h1, h2 {
    cursor: pointer;
    margin: 0;

    i {
      margin-right: 10px;
    }
  }

  li:first-child {
    border-top: 2px black solid;
  }

  li:last-child {
    border-bottom: 2px black solid;
  }  

  li {
    width: 100%;
    background-color: $third-color;
    border-top: 1px black solid;
    border-bottom: 1px black solid;

    &:last-child {
      box-shadow: 0 0.5px 3px black;
    }

    h2 {
      font-size: 25px;
      padding: 20px;
      background-color: darken($third-color, 3%);
      transition: all ease 0.3s;
      color: lighten($primary-color, 7%);

      i {
        font-size: 27px;
      }

      &.active, .no-touch &:hover {
        background-color: darken($primary-color, 12%);
        color: white;
      }
    }

    & > div {
      padding: 35px;
      display: none;
      background-color: lighten($primary-color, 5%);
      box-shadow: inset 0 2px 4px black;
    }
  }
}