<template name='app'>

  <div class='app-container'>

  {{> menuPane  }}

  {{> usersPane }}

  <main class='app'>
    <div class='main-cover-pane'></div>
    <div class='header'>
      <i class='fa fa-bars fa-1x hamburger'></i>
      <img src='/images/logo_small.svg' />
      <i class='pull-right fa fa-users fa-2x users'></i>
      <span>{{ name }}</span>
    </div>

    {{> controls   }}

    {{> nowPlaying }}

    {{> songQueue  }}

    {{> addMusic   }}
  </main>
    <script type="text/javascript">
      document.getElementsByTagName('body')[0].style.height = "100vh";
    </script>
  </div>
</template>