<template name='home'>
    <div class='home'>
        <img src="/images/logo_main.svg">
        <div class="find-container button">
            <div id="find">find</div>
            <div id="nearClouds">
                {{#each clouds }}
                    {{#linkTo route='app' cloudId=_id class='cloud' }}
                        <span class='cloud-name'>{{ name }}</span>
                        <span class='cloud-distance'>{{ cloudDistance }}</span>
                    {{/linkTo}}
                {{else}}
                    <div id='no-clouds-msg'> {{ noCloudsMsg }} </div>
                {{/each}}
            </div>
            <div class="fc-input-group group-init">
                <input class="fc-input" type="tel" placeholder="OR ask a friend for the ID">
                <div class="fc-button" id="find-btn">Go</div>
            </div>
        </div>
        <div class="create-container button">
            <div id="create">create</div>
            <div class="fc-input-group group-init">
                <input id='create-name' class="fc-input" placeholder="Name your playlist">
                <div class="fc-button" id="create-btn">Go</div>
            </div>
        </div>
        <div class="fc-toggle group-init">
            <div class="fc-toggle-btn">Public</div>
        </div>
    </div>
</template>