<template name='home'>
  <main class='home'>
    <h1><span>CROWD</span><span>PLAY</span></h1>
    <h2>Democratize the music</h2>

    <div id="optionHolder">
        <div class="extra-options">
          <i id="backButton"></i>
          <span id="findOptionsRefresh"><i class="fa fa-refresh fa-3x"></i></span>
        </div>

        <div id="startOptions">
          <button class="sky" id="find">Find</button>
          <button class="sky" id="create">Create</button>
        </div>

        <div id="createOptions">
          <input id="createName" type="text" required placeholder="Name Your CloudList"/>
          <button class="sky" id="createName_go">
            <span>Go</span>
          </button>
          <div id="broadcastSliderHolder">
            <div class="slider-frame" title="Choose to broadcast your CloudList location">
              <span id="broadcast" class="slider-button">Private</span>
            </div>
          </div>
          <p id="broadcastError">*Must enable location services to broadcast</p>
        </div>

        <div id="findNearCloudsOptions">
          <div id="nearClouds"></div>
          <div id="enterID">
            <input type="tel" placeholder="OR ask a friend for the cloud ID"/><button>Go</button>
          </div>
        </div>
    </div>

    <div id="clouds">
      <div class="cloud x1"></div>
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    </div>
  </main>
</template>