.add-music {
  color: $text-color;
  background-color: $secondary-color;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: -60px;
  transition: top 0.3s ease;

  .no-results {
    color: $text-color;
    font-size: 20px;
    width: 150px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 3px black;

    span {
      font-size: 25px;
      padding: 10px;
    }
  }

  h4 {
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: $third-color;
    border-top: 1px rgba(0,0,0,0.2) solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-bottom: 1px rgba(0,0,0,0.3) solid;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span {
      position: relative;
      top: 2px;
      padding-left: 60px;

      &:before {
        background: url('/images/grooveshark_symbol_white.png') no-repeat center;
        background-size: 100%;
        @include size(55px, 55px);
        content: ' ';
        display: inline-block;
        position: absolute;
        top: -18px;
        left: 0;
      }
    }

    i {
      float: right;
      margin-top: -12px;
      opacity: 0;
      color: $primary-color;
      font-size: 42px;
      text-shadow: 1px 1px 3px darken($third-color, 5%);
    }
  }

  &.active {
    top: 125px;

    i {
      opacity: 1;
    }

    & .search {
      top: 0;
      opacity: 1;

      input {
        cursor: text;
      }
    }
  }

  .search {
    position: relative;
    text-align: center;
    white-space: nowrap;
    top: -95px;
    opacity: 0;

    &.searching {
      input {
        background-image: url('/images/ajax-loader-dark.gif');
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 360px 14px;
      }

      &:after {
        display: none;
      }
    }

    input {
      cursor: pointer;
      border-radius: 5px;
      margin: 20px auto;
      width: 400px;
      outline: none;
      border: none;
      padding: 12px 45px 12px 25px;
      font-size: 20px;
      background-color: $third-color;
      box-shadow: inset 1px 1px 3px darken($secondary-color, 8%);
      text-align: center;

      @include input-placeholder {
        color: $text-sub-color-2;
        text-align: center;
      }
    }

    &::after {
      content: '\f002';
      font-family: fontAwesome;
      color: $text-sub-color-2;
      font-size: 18px;
      transition: color 0.25s ease;
      position: absolute;
      margin: 34px 0 0 -35px;
    }

    &.focused::after {
      color: $text-color;
    }
  }

  .song-result-holder {
    @extend %box-item-holder;

    .song {
      height: 66px;
    }

    .album-art {
      width: 66px;
    }

    .queue-status {
      float: right;
      margin: 14px 16px;
      font-size: 40px;
      @include primary-hover;

      &::after {
        content: '\f055';
      }
    }

    .in-queue {
      opacity: 0.2;
      background-color: black;

      .queue-status {
        cursor: default;

        &::after {
          content: '\f058';
          color: $third-color;
        }
      }
    }
  }
}