.add-music {
  color: $text-color;
  background-color: $secondary-color;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: -60px;
  transition: top 0.3s ease;

  .no-results {
    color: $text-color;
    font-size: 20px;
    width: 150px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 3px black;

    span {
      font-size: 25px;
      padding: 10px;
    }
  }

  h4 {
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: $third-color;
    box-shadow: 0 -1px 1px black,
                0  1px 1px black;

    &::after {
      font-family: fontAwesome;
      content: '\f0d8';
      font-size: 20px;
      padding-left: 12px;
    }
  }

  &.active {
    top: 125px;

    h4::after {
      content: '\f0d7';
    }

    & .search {
      top: 0;
      opacity: 1;

      input {
        cursor: text;
      }
    }
  }

  .search {
    position: relative;
    text-align: center;
    white-space: nowrap;
    top: -95px;
    opacity: 0;

    &.searching {
      input {
        background-image: url('/images/ajax-loader-dark.gif');
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: 360px 14px;
      }

      &:after {
        display: none;
      }
    }

    input {
      cursor: pointer;
      border-radius: 5px;
      margin: 20px auto;
      width: 400px;
      outline: none;
      border: none;
      padding: 12px 45px 12px 25px;
      font-size: 20px;
      background-color: $third-color;
      box-shadow: inset 1px 1px 3px darken($secondary-color, 8%);
      text-align: center;

      @include input-placeholder {
        color: $text-sub-text-2;
        text-align: center;
      }
    }

    &::after {
      content: '\f002';
      font-family: fontAwesome;
      color: $text-sub-text-2;
      font-size: 18px;
      transition: color 0.25s ease;
      position: absolute;
      margin: 34px 0 0 -35px;
    }

    &.focused::after {
      color: $text-color;
    }
  }

  .song-result-holder {
    @extend %song-holder;

    .queue-status {
      float: right;
      margin: 19.5px;
      font-size: 30px;
      @include primary-hover;

      &::after {
        content: '\f055';
      }
    }

    .in-queue {
      opacity: 0.2;
      background-color: black;

      .queue-status {
        cursor: default;

        &::after {
          content: '\f058';
          color: $third-color;
        }
      }
    }
  }
}