.app-container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: $third-color;
}

.app {
  box-shadow: 3px 3px 12px black, -3px -3px 12px black;
  border-radius: 0.1px;
  margin-left: 0;
  z-index: 50;
  position: relative;
  
  .header {
    background-color: $primary-color;
    height: 65px;
    padding: 8px;
    box-sizing: border-box;

    .hamburger, .users {
      font-size: 35px;
      margin: 6px 12px;
      @include primary-hover;
    }

    .hamburger {
      font-size: 40px;
      float: left;
    }

    .users {
      margin-top: 8px;
      float: right;
    }

    img {
      width: 50px;
      height: 50px;
      margin: 0 20px;
    }

    span {
      color: $text-color;
      font-size: 22px;
      padding: 10px;
      position: relative;
      top: 5px;
    }
  }

  .controls {
    background-color: $secondary-color;
    height: 55px;
  }

  .now-playing {
    background-color: $primary-color;
    height: 110px;
    box-shadow: 0 2px 4px $third-color;
    position: relative;
    z-index: 5;
  }

  .song-queue {
    background-color: $text-sub-color-2;
    height: 100%;
  }

  .main-cover-pane {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.35);
    cursor: pointer;
  }
}



