.app-container, .app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: $third-color;
}

.app {
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
  border-radius: 0.1px;
  margin-left: 0;
  z-index: 50;
  position: relative;
  
  .header {
    background-color: $primary-color;
    height: 65px;
    box-sizing: border-box;

    .hamburger, .users {
      font-size: 35px;
      margin: 13px 20px;
      @include primary-hover;
    }

    .hamburger {
      font-size: 40px;
      float: left;
      margin-right: 10px;
    }

    .users {
      float: right;
      margin-top: 15px;
    }

    img {
      width: 60px;
      height: 60px;
      margin: 3px 10px;
    }

    span {
      color: $text-color;
      font-size: 22px;
      padding: 10px;
      position: relative;
      top: 5px;
    }
  }

  .controls {
    background-color: $secondary-color;
    height: 55px;
    overflow: hidden;
    width: 100vw;
    transition: all 0.3s ease-in-out;

    &.slim {
      height: 3px !important;
    }
  }

  .now-playing {
    background-color: $primary-color;
    height: 110px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    position: relative;
    z-index: 5;
  }

  .song-queue {
    background-color: $text-sub-color-2;
    height: 100%;
  }

  .main-cover-pane {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.35);
    cursor: pointer;
  }
}
