.app {
  
  .header {
    background-color: $primary-color;
    height: 65px;

    .hamburger, .users {
      margin: 22px;
      @include primary-hover;
    }

    img {
      width: 50px;
      height: 50px;
      margin: 0 0 13px 0;
    }

    span {
      color: $text-color;
      font-size: 22px;
      padding: 25px;
    }
  }

  .controls {
    background-color: $secondary-color;
    height: 50px;
  }

  .now-playing {
    background-color: $primary-color;
    height: 120px;
  }

  .song-queue {
    background-color: $text-sub-text-2;
    height: 510px;
  }
}



