.controls {
  text-align: center;

  .player-controls {
    display: none;
    padding: 7.5px;
  }

  .play-pause, .skip {
    width: 40px;
    height: 40px;
    background-color: $text-sub-color-2;
    border-radius: 100%;
    margin: 0 7px;
    position: relative;
    box-shadow: 1px 1px 3px $third-color;
    cursor: pointer;

    &:active {
      background-color: $third-color;

      &::after {
        color: black;
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 19px;
      margin: -8px 0 0 -6px;
      color: $third-color;
    }
  }
  
  .play-pause {

    &::after {
      content: '\f04c';
      margin-left: -7.5px;
      font-size: 18px;
    }

    &.paused::after {
      content: '\f04b';
      margin-left: -5px;
    }
  }

  .skip {
    &::after {
      content: '\f04e';
    }
  }

  .volume-slider {
    display: inline-block;
    width: 185px;
    margin: 10px;
    position: relative;
    padding-right: 35px;
    top: -5px;

    .fa-volume-up {
      position: absolute;
      right: 0;
      top: -10px;
      font-size: 27px;
      color: $third-color;
    }
  }
}