@keyframes fc-appear {
  0%     { opacity: 0; display: none !important; }
  5%     { opacity: 0; display: block !important; }
  100%   { opacity: 1; display: block !important; }
}

@keyframes fc-disappear {
  0%     { opacity: 1; display: block !important; }
  95%    { opacity: 0; display: block !important; }
  100%   { opacity: 0; display: none !important; }
}

.home {
  font-family: Nanum, sans-serif;
  background-color: #93afc3;
  height: 100%;
  width: 100%;
}

body {
  background-color: #93afc3;
}

@media all and (min-width: 1100px) {
  .top-inner {
    width: 1100px;
    position: absolute;
    left: 50vw;
    margin-left: -550px;
  }
}

.top {
  height: 100vh;
  width: 100vw;
  left: 0;
  z-index: 100;
  position: fixed;
  text-align: center;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #243540;

  img {
    width: 70%;
    margin-top: 20vh;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease-out;

    &.finded {
      width: 50%;
      margin-top: 10vh;
    }
  }

  .button {
    color: #dcdcdc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    width: 35%;
    height: 55px;
    line-height: 55px;
    z-index: 10;
    position: absolute;
    top: 10vh;
    font-size: 2.2em;
    font-family: sans-serif;
    transition: background-color 0.1s ease;
    display: inline-block;
    background-color: #567083;
  }

  .find-container {
    display: inline-block;
    position: absolute;
    top: 50vh;
    left: 10%;
    z-index: 10;
    opacity: 1;
    background-color: #506879;
    overflow: hidden;

    transition: all 0.3s ease-out;

    .find {
      background: #506879;

      &:hover {
        background: #6f8ca0;
      }

      &:active {
        background: #475d6c;
      }
    }

    .fc-input-group {
      width: 100%;
      display: block;

      .fc-input {
        width: 70%;
        border: 0;
        display: inline-block;
        background-color: #597688;
        padding-left: 22px;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.7em;

        &:focus {
          outline: none;
        }
      }

      .fc-button {
        width: 30%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #6d8ca0;
      }
    }

    #nearClouds {
      width: 100%;
      height: 85%;
      display: none;

      #no-clouds-msg {
        padding: 3em;
        text-shadow: 0.1em 0.1em 0.3em black;
        color: #ffffff;
        font-size: 1.7em;
      }

      .cloud {
        display: block;
        text-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.3);
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        height: 55px;
        line-height: 55px;
        padding: 0 30px 0 30px;
        clear: both;
        cursor: pointer;
        transition: background-color 0.20s ease-in-out;

        &:hover {
          background-color: darken(#506879, 10%);
        }
      }

      span {
        height: 100%;
      }

      span:nth-child(1) {
        float: left;
      }

      span:nth-child(2) {
        float: right;
      }
    }
  }

  .create-container {
    display: inline-block;
    z-index: 10;
    opacity: 1;
    overflow: hidden;
    right: 10%;
    position: absolute;
    background-color: #506879;
    top: 50vh;
    transition: all 0.3s ease-out;

    .create {
      background: #506879;

      &:hover {
        background: #6f8ca0;
      }

      &:active {
        background: #475d6c;
      }
    }

    .fc-input-group {
      width: 100%;
      display: block;

      .fc-input {
        width: 70%;
        border: 0;
        display: inline-block;
        background-color: #597688;
        padding-left: 22px;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.7em;

        &:focus {
          outline: none;
        }
      }

      .fc-button {
        width: 30%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #6d8ca0;
      }
    }
  }

  .back-container {
    width: 55px;
    height: 55px;
    z-index: 3;
    opacity: 1;
    left: 10%;
    position: absolute;
    background-color: #2f4554;
    margin-top: -40px;
    top: 50vh;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
    @include transition(all 0.3s ease-out);

    &.finded-b {
      top: 30vh;
    }

    &.back-init {
      opacity: 0;
      top: 50vh;
      margin-top: 0px;
    }

    #back-arrow {
      width: 24px;
      position: absolute;
      top: 10px;
      left: 14px;
      margin: 0;
    }
  }

  .fc-toggle {
    width: 200px;
    background-color: #19252d;
    height: 35px;
    position: absolute;
    top: 60vh;
    left: 50%;
    margin-left: -100px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 1px 3px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    font-size: 1.2em;
    color: rgba(255,255,255,0.7);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .fc-toggle-btn {
      height: 25px;
      margin: 5px;
      width: 90px;
      line-height: 25px;
      background-color: #6d8ca0;
      border: none;
      position: absolute;
      right: 0;
      border-radius: 5px;
      box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
      transition: all 0.3s ease-out;

      &.fc-toggle-btn-private {
        right: 100px;
        background-color: #a35141;
      }
    }
  }

  .go-down {
    color: rgba(255,255,255,0);
    width: 6em;
    margin-left: -3em;
    position: absolute;
    bottom: 30px;
    left: 50%;
    cursor: pointer;
    font-size: 1.6em;
    @include transition(color 0.2s ease-in-out);

    &:hover {
      color: rgba(255,255,255,0.8);
      .i-chevron {
        bottom: -5px;
      }
    }

    p {
      margin-bottom: 26px;
      font-family: Nanum, sans-serif;
    }

    .i-chevron {
      width: 70px;
      margin: 0;
      left: 50%;
      position: absolute;
      bottom: 0;
      margin-left: -35px;
      @include transition(bottom 0.2s ease-in-out);
    }
  }

  #cave {
    position: absolute;
    width: 100%;
    top: 99vh;
    margin: 0;
  }
}

.btn-fade {
  color: #51687d !important;
  background-color: #304655 !important;
  width: 0 !important;
  margin: 0 !important;
  z-index: 5 !important;

  &:hover {
    background-color: #375061;
  }

  &:active {
    background-color: #2d4250;
  }


  &.create-container {
    position: absolute;
    top: 30vh;

    .fc-input-group {
      display: none;
    }
  }

  &.find-container {
    top: 50vh;
    .fc-input-group {
      display: none;
    }
  }
}

.btn-expand {
  width: 80% !important;
  transition: width 0.3s ease-out;

  &.find-container {
    position: absolute;
    height: 50vh;
    top: 30vh;

    #nearClouds {
      display: block;
    }
  }

  &.create-container {

  }
}

.find-opened {
  @include transition(width 0.3s ease-out);
}

.fc-appear {
  animation: fc-appear 0.4s 1;
}

.fc-disappear {
  animation: fc-disappear 0.4s 1;
}

.group-init {
  display: none !important;
}



.bottom {
  position: absolute;
  top: 100vh;
  width: 100vw;
  height: 300vh;
  left: 0;
  background-color: #93afc3;

  .ribbon {
    width: 80vw;
    margin-left: -40vw;
    left: 50vw;
    position: fixed;
    top: 20vh;

    .ribbon-back, .ribbon-front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .ribbon-back {
      z-index: 2;
    }

    .ribbon-front {
      z-index: 10;
    }

    .ribbon-title {
      z-index: 15;
      width: 60%;
      left: 50%;
      margin-left: -30%;
      position: absolute;
      text-align: center;
      color: #fff;

      .r-title {
        font-size: 2.8vw;
        margin: 1.5vw;
      }

      .r-info {
        font-size: 1.4vw;
        margin: 2.6vw;
        &.dem {
          margin: 3.5vw;
        }
      }
    }
  }

  #a-queue {
    position: fixed;
    width: 60vw;
    left: 50vw;
    margin-left: -30vw;
    z-index: 5;

    #i-queue {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    #i-song1 {
      width: 92%;
      left: 4%;
      top: 3.5vw;
      position: absolute;
    }

    .i-song2 {
      width: 92%;
      left: 4%;
      top: 13.5vw;
      position: absolute;
    }
  }

  #i-mouse {
    position: fixed;
    width: 20px;
    left: 200px;
    top: 400px;
  }

  #i-phone {
    position: fixed;
    width: 60vw;
    left: 50vw;
    margin-left: -30vw;
  }
}