@keyframes fc-appear {
  0%     { opacity: 0; display: none !important; }
  5%     { opacity: 0; display: block !important; }
  100%   { opacity: 1; display: block !important; }
}

@keyframes fc-disappear {
  0%     { opacity: 1; display: block !important; }
  95%    { opacity: 0; display: block !important; }
  100%   { opacity: 0; display: none !important; }
}

.home {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-rendering: optimizeLegibility;

  img {
    width: 70vw;
    margin-top: 20vh;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all 0.3s ease-out;

    &.finded {
      width: 50vw;
      margin-top: 10vh;
    }
  }

  .button {
    color: #dcdcdc;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    width: 35vw;
    height: 55px;
    line-height: 55px;
    z-index: 10;
    position: absolute;
    top: 10vh;
    font-size: 2.2em;
    font-family: 'Roboto Condensed', sans-serif;
    transition: background-color 0.1s ease;
    display: inline-block;
    background-color: #567083;
  }

  .find-container {
    display: inline-block;
    position: absolute;
    top: 50vh;
    left: 10vw;
    z-index: 10;
    opacity: 1;
    background-color: #506879;
    overflow: hidden;

    background-image: url('/images/search.svg');
    background-position: 30% center;
    background-repeat: no-repeat;

    transition: all 0.3s ease-out;

    .find {
      background: #506879;

      &:hover {
        background: #6f8ca0;
      }

      &:active {
        background: #475d6c;
      }
    }

    .fc-input-group {
      width: 100%;
      display: block;

      .fc-input {
        width: 70%;
        border: 0;
        display: inline-block;
        background-color: #597688;
        padding-left: 22px;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.7em;

        &:focus {
          outline: none;
        }
      }

      .fc-button {
        width: 30%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #6d8ca0;
      }
    }

    #nearClouds {
      width: 100%;
      height: 85%;
      display: none;

      #no-clouds-msg {
        padding: 3em;
        text-shadow: 0.1em 0.1em 0.3em black;
        color: #ffffff;
        font-size: 1.7em;
        font-family: sans-serif;
      }

      .cloud {
        display: block;
        text-shadow: 0.1em 0.1em 0.3em black;
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        height: 62px;
        padding: 7px 30px;
        clear: both;
        cursor: pointer;
        transition: background-color 0.20s ease-in-out;

        &:hover {
          background-color: darken(#506879, 10%);
        }
      }

      span {
        height: 100%;
      }

      span:nth-child(1) {
        float: left;
      }

      span:nth-child(2) {
        float: right;
      }
    }
  }

  .create-container {
    display: inline-block;
    z-index: 10;
    opacity: 1;
    overflow: hidden;
    right: 10%;
    position: absolute;
    background-color: #506879;
    top: 50vh;
    transition: all 0.3s ease-out;

    background-image: url('/images/add.svg');
    background-position: 70% center;
    background-repeat: no-repeat;

    .create {
      background: #506879;

      &:hover {
        background: #6f8ca0;
      }

      &:active {
        background: #475d6c;
      }
    }

    .fc-input-group {
      width: 100%;
      display: block;

      .fc-input {
        width: 70%;
        border: 0;
        display: inline-block;
        background-color: #597688;
        padding-left: 22px;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.7em;

        &:focus {
          outline: none;
        }
      }

      .fc-button {
        width: 30%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #6d8ca0;
      }
    }
  }

  .fc-toggle {
    width: 200px;
    background-color: #19252d;
    height: 35px;
    position: absolute;
    top: 60vh;
    left: 50vw;
    margin-left: -100px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 1px 3px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    font-size: 1.2em;
    color: rgba(255,255,255,0.7);

    .fc-toggle-btn {
      height: 25px;
      margin: 5px;
      width: 90px;
      line-height: 25px;
      background-color: #6d8ca0;
      border: none;
      position: absolute;
      right: 0;
      border-radius: 5px;
      box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
      transition: all 0.3s ease-out;

      &.fc-toggle-btn-private {
        right: 100px;
        background-color: #a35141;
      }
    }
  }
}

.btn-fade {
  color: #51687d !important;
  background-color: #304655 !important;
  width: 7% !important;
  margin: 0 !important;
  z-index: 5 !important;

  &:hover {
    background-color: #375061;
  }

  &:active {
    background-color: #2d4250;
  }


  &.create-container {
    position: absolute;
    top: 30vh;

    .fc-input-group {
      display: none;
    }
  }

  &.find-container {
    top: 50vh;
    .fc-input-group {
      display: none;
    }
  }
}

.btn-expand {
  transition: width 0.3s ease-out;
  width: 75% !important;

  &.find-container {
    position: absolute;
    height: 50vh;
    top: 30vh;

    #nearClouds {
      display: block;
    }
  }

  &.create-container {

  }
}

.fc-appear {
  animation: fc-appear 0.4s 1;
}

.fc-disappear {
  animation: fc-disappear 0.4s 1;
}

.group-init {
  display: none !important;
}