.lock {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  background-color: $secondary-color;
  box-shadow: 3px 3px 5px black;
  border-radius: 5px;
  padding: 60px;

  p {
    font-weight: bold;
    font-size: 18px;
    color: white;
  }
}