
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

@mixin input-placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


@mixin primary-hover {
  transition: color 0.15s ease;
  color: $text-color;
  cursor: pointer;

  &:hover, &.active {
    color: $secondary-color;
  }
}

@mixin site-scrollbar {
  &::-webkit-scrollbar {
      width: 0px;
  }

  &:hover::-webkit-scrollbar {
    width: 10px;
  }
   
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }
   
  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
}

%box-item-holder {
  @include site-scrollbar;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 530px;
  width: 410px;
  margin: auto;
  padding: 10px 15px 150px 15px;

  > div {
    width: 100%;
    margin: 25px auto;
    background-color: $primary-color;
    border-radius: 5px;
    box-shadow: 1px 1px 3px $third-color;
  }
}