
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


@mixin primary-hover {
  transition: color 0.15s ease;
  color: $text-color;
  cursor: pointer;

  &:hover, &.active {
    color: $secondary-color;
  }
}