
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

@mixin input-placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


@mixin primary-hover {
  transition: color 0.15s ease;
  color: $text-color;
  cursor: pointer;

  &:hover, &.active {
    color: $secondary-color;
  }
}

%box-item-holder {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 530px;
  width: 420px;
  margin: auto;
  padding: 12px;
  padding-bottom: 25px;

  > div {
    width: 100%;
    margin: 15px auto;
    height: 66px;
    background-color: $primary-color;
    border-radius: 5px;
    box-shadow: 1px 1px 3px $third-color;
  }
}