.now-playing {
  
  .album-art {
    height: 90px;
    width: 90px;
    margin: 10px;
    float: left;
    border-radius: 5px;
  }

  .song-name {
    font-size: 27px;
    padding-top: 5px;
  }

  .artist-name {
    padding-top: 0px;
    font-size: 23px;
  }

  .added-by {
    font-size: 17px;
  }

  .vote-controls {
    padding: 9px 22px;

    p {
      font-size: 38.5px;
    }

    .vote-count {
      font-size: 22px; 
    }
  }
}