.now-playing {
  
  .album-art {
    height: 90px;
    width: 90px;
    margin: 10px;
    float: left;
    border-radius: 5px;
  }

  .song-name {
    font-size: 27px;
  }

  .artist-name {
    font-size: 23px;
  }
}