.song {
  height: 92px;
}

.album-art {
  float: left;
  border-radius: 5px 0 0 5px;
  background: black url('/images/blankart.jpg');
  background-size: cover;
  width: 92px;
  height: 100%;
}

.song-name, .artist-name, .added-by {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0 15px;
}

.song-name {
  color: $text-color;
  padding-top: 12px;
  font-size: 18px;
}

.artist-name {
  font-size: 16px;
  color: $third-color;
  font-weight: bold;
}

.added-by {
  font-size: 14px;
  color: $text-sub-color-1;
}

.song-info {
  float: left;
}

.vote-controls {
  float: right;
  padding: 8px 12px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  text-align: center;

  p {
    font-size: 33px;
    color: $third-color;
    margin: -5px 0;
    cursor: pointer;
    text-shadow: 1px 1px 2px darken($third-color, 4%);

    &.active {
      text-shadow: none;
      color: $text-sub-color-1;
    }
  }

  .vote-count {
    cursor: default;
    color: $text-color;
    font-size: 18px;
    padding: 3px 0;
    font-weight: normal !important;
  }
}