.album-art {
  float: left;
  border-radius: 5px 0 0 5px;
  background: black url('/images/blankart.jpg');
  background-size: cover;
  width: 66px;
  height: 66px;
}

.song-name, .artist-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0 15px;
}

.song-name {
  color: $text-color;
  padding-top: 12px;
  font-size: 17px;
}

.artist-name {
  color: $third-color;
  font-weight: bold;
}