.users-pane {
  width: $pane-width;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  color: $text-color;

  h1 {
    text-align: center;
    background: $primary-color;
    margin: 0;
    padding: 25px;
    text-shadow: 2px 2px 6px $third-color;
  }

  .sort-bar {
    background: $secondary-color;
    width: 100%;
    padding: 20px;

    label {
      font-size: 16px;
    }

    label, select {
      margin: 0 10px;
    }

    select {
      width: 205px;
      display: inline;
      color: black;
      font-weight: bold;
      background-color: $text-color;

      &:focus {
        box-shadow: none;
        outline: none;
        border: none;
      }
    }
  }

  .user-holder {
    @extend %box-item-holder;
  }
}