.user-holder > div.user {
  width: 300px;
  height: auto;
  border-radius: 5px;
  position: relative;
  margin: 30px auto;
  padding: 0;
  box-shadow: 1px 1px 3px darken($third-color, 5%);

  &.show-user-permissions {

    .user-details i.fa {
      color: $text-color;
    }

    .user-permissions {
      height: 70px;
    }
  }

  .user-details, .user-permissions {
    width: 100%;
  }

  .user-details {
    height: 40px;
    background-color: $primary-color;
    border-radius: 5px 5px 0 0;

    span {
      margin: 9px 0 0 16px;  
    }

    .display-name {
      width: 163px;
      float: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 16px;
    }

    .karma {
      width: 58px;
      float: right;
      text-align: center;
      font-weight: bold;
      color: $text-sub-color-1;
      font-size: 19px;
      margin-top: 7px;
      letter-spacing: 1.5px;
    }
    
    i.fa {
      width: 46px;
      float: right;
      color: $third-color;
      padding: 7px 10px 0 10px;
      cursor: pointer;
      transition: color 0.3s ease;
    }

    i.fa.fa-user {
      color: rgba(255, 102, 0, 0.3);
    }

    i.fa.fa-star, i.fa.fa-user.is-self {
      color: rgb(209, 209, 30);
    }
  }

  .user-permissions {
    height: 10px;
    background-color: $secondary-color;
    border-radius: 0 0 5px 5px;
    transition: height 0.3s ease;
    white-space: nowrap;
    position: relative;
    overflow: hidden;

    i {
      height: 100%;
      text-align: center;
      float: right;
      width: 100px;
      position: absolute;
      top: 0;
      padding-top: 14px;
      color: $primary-color;
      transition: all 0.3s ease;

      &::before {
        opacity: 0.2;
      }

      &.can-set {
        text-shadow: 1px 1px 2px $third-color;

        &::before {
          opacity: 1;
        }
      }
    }

    .active {
      color: $text-color;
      text-shadow: none;
    }

    .output {
      left: 0;

      &.active {
        background-color: rgba(0, 0, 125, 0.4);
      }
    }

    .admin {
      left: 100px;

      &.active {
        background-color: rgba(255, 102, 0, 0.5);
      }
    }

    .ban {
      left: 200px;

      &.active {
        background-color: rgba(125, 0, 0, 0.4);
      }
    }
  }
}