$primary-color:         #334c5d;
$secondary-color:       #243441;
$third-color:           #1d2a34;
$text-color:            #ecf0f4;
$text-sub-text-1:       #547c98;
$text-sub-text-2:       #3f5d72;

$pane-width:            70%;