@import 'variables';
@import 'mixins';
@import 'animations/spinning';
@import 'animations/loading_bars';
@import 'animations/clouds';
@import 'songs';
@import 'home';
@import 'app';
@import 'controls';
@import 'now_playing';
@import 'song_queue';
@import 'add_music';
@import 'users_pane';
@import 'lock';


* {
  margin: 0;
  padding: 0;
}

html, body, main {
height: 100%;
width: 100%;
overflow: hidden;
position: relative;
}

/* ---------------- Broadcast slider CSS ------------ */
.slider-frame {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 120px;
  height: 30px;
  background-color: rgb(246, 249, 251);
  border-radius: 6px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25),
              2px 2px 7px black;
}
.slider-button {
  display: block;
  margin-left: -3px;
  width: 75px;
  height: 30px;
  line-height: 27px;
  background: #6c7176;
  border-radius: 6px;
  @include transition(all 0.25s ease-in-out);
  color: white;
  font-family:sans-serif;
  font-size:12px;
  font-weight:bold;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}
.slider-button.on {
  margin-left: 50px;
  background: #088c00;
}

.row > div {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}