@import 'variables';
@import 'mixins';
@import 'home';
@import 'lock';

@font-face {
  font-family: Nanum;
  src: url('/font/NanumBarunGothic.ttf');
}


* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: $third-color;
  font-family: sans-serif;
}

.scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.row > div {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}