@import 'variables';
@import 'mixins';
@import 'animations/loading_bars';
@import 'includes/loading_screen';
@import 'toggle_arrow';
@import 'songs';
@import 'home';
@import 'app';
@import 'controls';
@import 'now_playing';
@import 'song_queue';
@import 'add_music/add_music';
@import 'add_music/add_song';
@import 'add_music/previous_songs';
@import 'add_music/search_results';
@import 'menu_pane/menu_pane';
@import 'menu_pane/current_playlist';
@import 'menu_pane/display_name';
@import 'menu_pane/login';
@import 'menu_pane/account';
@import 'menu_pane/feedback';
@import 'users_pane';
@import 'user';
@import 'lock';

@font-face {
  font-family: Nanum;
  src: url('/font/NanumBarunGothic.ttf');
}


* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

html, body, main {
  height: 100vh;
  width: 100vw;
  padding: 0;
  position: relative;
  background-color: $third-color;
  font-family: sans-serif;
}

.row > div {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}