<template name='addMusic'>
  <h4>ADD MUSIC</h4>
  <div class='search'>
    <input type='text' placeholder='Song, artist, album' />
  </div>

  <div class='song-result-holder'>
    {{#each songResults }}
      <div class='song {{ inQueueClass }}'>
        <span class='album-art'></span>
        <span class='fa queue-status'></span>
        <p class='song-name'> {{ songName }} </p>
        <p class='artist-name'> {{ artistName }} </p>
      </div>
    {{else}}
      {{#if hasNoResults }}
        <p class='no-results'>No results <span>:(</span></p>
      {{/if}}
    {{/each }}
  </div>
</template>