<template name='findCreate'>
    <div class='find-create'>
        <img src="/images/logo_main.svg">
        <div class="find-container button">
            <div id="find">find</div>
            <div id="findNearCloudsOptions">
                <div id="nearClouds"></div>
            </div>
            <div class="fc-input-group group-init">
                <input class="fc-input" type="tel" placeholder="OR ask a friend for the ID">
                <div class="fc-button" id="find-btn">Go</div>
            </div>
        </div>
        <div class="create-container button">
            <div id="create">create</div>
            <div class="fc-input-group group-init">
                <input class="fc-input" placeholder="Name your playlist">
                <div class="fc-button" id="create-btn">Go</div>
            </div>
        </div>
        <div class="fc-toggle group-init">
            <div class="fc-toggle-btn">Public</div>
        </div>
    </div>
</template>