<template name='app'>
  
  {{> usersPane }}

  <main class='app'>
    <div class='main-cover-pane'></div>
    <div class='header'>
      <div class='col-xs-12'>
        <i class='fa fa-bars fa-2x hamburger'></i>
        <img src='/images/logo_box.png' />
        <i class='pull-right fa fa-users fa-2x users'></i>
        <span>{{ name }}</span>
      </div>
    </div>

    <div class='controls'>
        {{> controls }}
    </div>

    <div class='now-playing'>
        {{> nowPlaying }}
    </div>

    <div class='song-queue'>
        {{> songQueue }}
    </div>

    <div class='add-music'>
        {{> addMusic }}
    </div>
  </main>
</template>