<template name='app'>
  
  {{> usersPane }}

  <main class='container-fluid app'>
    <div class='row header'>
      <div class='col-xs-12'>
        <i class='fa fa-bars fa-2x hamburger'></i>
        <img src='/images/logo_box.png' />
        <i class='pull-right fa fa-users fa-2x users'></i>
        <span>{{ name }}</span>
      </div>
    </div>

    <div class='row controls'>
      <div class='col-xs-12'>
        {{> controls }}
      </div>
    </div>

    <div class='row now-playing'>
      <div class='col-xs-12'>
        {{> nowPlaying }}
      </div>
    </div>

    <div class='row song-queue'>
      <div class='col-xs-12'>
        {{> songQueue }}
      </div>
    </div>

    <div class='row add-music'>
      <div class='col-xs-12'>
        {{> addMusic }}
      </div>
    </div>
  </main>
</template>