.add-music .previous-songs {
  transform: translate(-100%, 0);
  text-align: center;

  .no-previous-songs {
    border: 1px solid $contrast-color-primary;
    border-radius: 5px;
    box-shadow: inset -1px -1px 3px darken($third-color, 10%);
    padding: 15px;
    background-color: $third-color;

    h6 {
      font-size: 34px;
      text-shadow: 1px 1px 2px darken($third-color, 10%);

      &::before {
        content: '\f001';
        padding-right: 19px;
        font-size: 43px;
        color: $contrast-color-primary;
      }
    }

    p {
      font-size: 16.5px;
      color: $contrast-color-primary;
    }
  }

  .sort-options {
    background-color: none;
    margin: 0 auto 15px auto;
    width: 100%;

    span {
      box-sizing: border-box;
      font-size: 18px;
      padding: 9px 8px 7px 8px;
      width: 50%;
      color: $primary-color;
      display: inline-block;
      cursor: pointer;
      background-color: $third-color;
      box-shadow: 1px 1px 2px darken($third-color, 5%);

      &:nth-child(1) {
        border-right: 1px solid black;
        border-radius: 5px 0 0 5px;
      }

      &:nth-child(2) {
        border-radius: 0 5px 5px 0;
      }

      &.active {
        cursor: default;
        color: white;
        background-color: $primary-color;
      }
    }
  }

  .sorted-songs {
    height: 100%;
    width: 100%;

    & > div {
      @extend %box-item-holder;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      display: none;

      &.active {
        display: block;
      }
    }

    .artist-sorted-songs {
      width: 100%;
      margin: 0;
      padding: 0;

      .artist-container {
        background: none;
        box-shadow: none;
        text-align: left;

        h6 {
          border-radius: 100px 25px 25px 100px;
          font-size: 20px;
          background-color: $contrast-color-primary;
          box-sizing: border-box;
          padding: 19px 16px 14px 73px;
          margin: 0;
          box-shadow: 0 1px 2px darken($third-color, 5%);
          cursor: pointer;
          position: relative;
          z-index: 5;
          transition: background-color ease 0.15s;

          .no-touch &:hover, &.active {
            background-color: darken($contrast-color-primary, 12%);
          }

          &::after {
            margin: -4px 0 0 2px;
          }

          .shuffle {
            color: $contrast-color-primary;
            font-size: 25px;
            height: 100%;
            padding: 15px;
            border-radius: 100%;
            border: 2px solid $contrast-color-primary;
            box-sizing: border-box;
            background-color: $third-color;
            position: absolute;
            top: 0;
            left: 0;

            .no-touch &:hover {
              color: white;
            }

            &:active {
              border-color: white;
              color: white;
              background-color: $secondary-color;
            }
          }
        }

        .artist-songs {
          @extend %box-item-holder;
          background-color: $third-color;
          padding: 50px 25px 0 25px;
          margin: 0 0 -40px 0;
          width: 100%;
          border-radius: 20px 0 10px 10px;
          box-shadow: 0 2px 3px darken($third-color, 5%);
          position: relative;
          top: -40px;
          display: none;
        }
      }
    }
  }
}