.add-music .search-results {
  @extend %box-item-holder;
  transform: translate(100%, 0);

  .no-results {
    color: $text-color;
    font-size: 20px;
    width: 150px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 3px black;

    span {
      font-size: 25px;
      padding: 10px;
    }
  }
}